// Theme Colors
$body-color 		    : #f3f6fb;
$primary-color 			: #1a73e8;
$secondary-color 		: #174ea6;

// General Colors
$color-trans 			: transparent;

// Text Colors
$text-color 			: #3c4043;
$title-color 		    : #202124;